@using Microsoft.AspNetCore.Identity
@using ServiceAssessmentService.Data.Entities
@using GovUk.Frontend.AspNetCore.TagHelpers

@inject SignInManager<ServiceAssessmentServiceWebAppUser> SignInManager
@inject UserManager<ServiceAssessmentServiceWebAppUser> UserManager

<ul class="dfe-header__action-links">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="govuk-link govuk-link--inverse" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="govuk-link govuk-link--inverse" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="govuk-link govuk-link--inverse" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
