@{
    ViewData["Title"] = "Dashboard";
}

<div class="pre--content"></div>
<div class="main--content">

    <div class="main--inside-container">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l ">Your dashboard</h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 id="your_actions_heading" class="govuk-summary-card__title">Your actions</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <table class="govuk-table" aria-describedby="your_actions_heading">
                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header  govuk-!-width-one-half">Task</th>
                                <th scope="col" class="govuk-table__header">Service</th>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                    <a href="/admin/entry/462" class="govuk-link">New discovery peer review request <span class="govuk-visually-hidden"> for Example</span></a>
                                </th>
                                <td class="govuk-table__cell">Example</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                    <a href="/admin/report/preview/452" class="govuk-link">Publish assessment report <span class="govuk-visually-hidden"> for Free pencils for schools</span></a>
                                </th>
                                <td class="govuk-table__cell">Free pencils for schools</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">
                                    <a href="/admin/report/preview/454" class="govuk-link">Check report and send to team <span class="govuk-visually-hidden"> for Mickey mouse discovery</span></a>
                                </th>
                                <td class="govuk-table__cell">Mickey mouse discovery</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">Upcoming assessments</h2>
                                <ul class="govuk-summary-card__actions">
                                    <li class="govuk-summary-card__action">
                                        <a class="govuk-link" href="/admin/entries/all">
                                            View all<span class="govuk-visually-hidden"> assessments</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="govuk-summary-card__content">
                                <p>There are no assessments in the next 60 days.</p>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-half"></div>
                </div>
            </div>
            
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m">Other resources and guidance</h2>
                <div class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" href="https://apply-the-service-standard.education.gov.uk/">Assessing against standards</a>
                        </h3>
                        
                        <p class="govuk-body chevron-card__description">How to understand, apply, and assure against Service Standards and other departmental standards.</p>
                    </div>
                </div>

                <div class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" href="/admin/assessors">Assessor checklists</a>
                        </h3>

                        <p class="govuk-body chevron-card__description">Checklists for discovery, alpha, and beta assessments for assessors.</p>
                    </div>
                </div>

                <div class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" href="/book">Book assessment</a>
                        </h3>

                        <p class="govuk-body chevron-card__description">Book a peer review or service assessment.</p>
                    </div>
                </div>

                <h2 class="govuk-heading-m">Profession-specific guidance</h2>
                <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a href="https://apply-the-service-standard.education.gov.uk/" target="_blank">Apply the Service Standard in DfE</a>
                    </li>
                    <li>
                        <a href="https://user-research.education.gov.uk/" target="_blank">User Research in DfE</a>
                    </li>
                    <li>
                        <a href="https://technical-guidance.education.gov.uk/" target="_blank">DfE Technical Guidance</a>
                    </li>
                    <li>
                        <a href="https://dfe-digital.github.io/architecture/#dfe-architecture" target="_blank">DfE Architecture</a>
                    </li>
                    <li>
                        <a href="https://design-system.service.gov.uk/" target="_blank">GOV.UK Design System</a>
                    </li>
                    <li>
                        <a href="https://www.gov.uk/service-manual" target="_blank">GOV.UK Service Manual</a>
                    </li>
                    <li>
                        <a href="https://www.gov.uk/service-manual/communities/design-community" target="_blank">Cross government design community</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
