@page
@model ServiceAssessmentService.WebApp.Pages.AccessibilityStatementModel
@{
    ViewData["Title"] = "Accessibility statement";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's accessibility statement.</p>
