@page
@model ServiceAssessmentService.WebApp.Pages.Book.DeleteModel

@{
    ViewData["Title"] = "Confirmation required: Are you sure you want to withdraw this assessment request?";
    ViewData["Section"] = SiteSection.BookingRequest;
}
<div class="pre--content"></div>
<div class="main--content">

    <div class="main--inside-container">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l ">Assessment Request</h1>
            </div>
        </div>
    </div>


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        <form asp-page="/Book/Delete" asp-route-id="@Model.AssessmentRequest.Id" method="post">
            <govuk-button type="submit" prevent-double-click="true" class="govuk-button--warning">Confirm withdrawal of assessment request</govuk-button>
        </form>
    </div>
    </div>

</div>
