@page
@using ServiceAssessmentService.Domain.Model.Questions
@model ServiceAssessmentService.WebApp.Pages.Book.EditModel
@{
    ViewData["Title"] = "Editing assessment request";
    ViewData["Section"] = SiteSection.BookingRequest;
}


<div class="pre--content"></div>
<div class="main--content">

    <div class="main--inside-container">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l ">Assessment Request</h1>
            </div>
        </div>


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <form asp-page="/Book/Edit" asp-route-id="@Model.AssessmentRequestPageModel.Id" method="post">
                    @{
                        var questions = Model.AssessmentRequestPageModel.Questions.ToList();
                    }
                    @for (var i = 0; i < questions.Count; i++)
                    {
                        var question = questions[i];
                        <vc:generic-question question="@question" name-prefix="AssessmentRequestPageModel.Questions[@i]"></vc:generic-question>
                    }
                    <govuk-button type="submit" prevent-double-click="true">Save</govuk-button>
                </form>
            </div>
        </div>

    </div>
</div>
