@page
@model ServiceAssessmentService.WebApp.Pages.Book.ListModel
@{
    ViewData["Title"] = "Viewing assessment";
    ViewData["Section"] = SiteSection.BookingRequest;
}


<div class="pre--content"></div>
<div class="main--content">

    <div class="main--inside-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l ">All assessment requests</h1>
            </div>
        </div>

        <ul>
            @foreach (var assessment in Model.AssessmentRequests)
            {
                <li>
                    <a
                        asp-page="/Book/View"
                        asp-route-id="@assessment.Id"
                        class="govuk-link">
                        @assessment.Name
                        (@(assessment.PhaseConcluding?.Name ?? "") @(assessment.AssessmentType?.Name ?? ""))
                    </a>
                </li>
            }
        </ul>

        <govuk-button-link asp-page="/Book/Create">Create New</govuk-button-link>

    </div>
</div>
