@page
@model ServiceAssessmentService.WebApp.Pages.Admin.AssessmentTypes.CreateModel
@{
    ViewData["Title"] = "Creating Assessment Type";
    ViewData["Section"] = SiteSection.Admin;
}

<div class="pre--content"></div>
<div class="main--content">

    <div class="main--inside-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">Creating Assessment Type</h1>
            </div>
        </div>
        
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <form method="post">
                    


                    <govuk-input name="Name" value="@(Model.AssessmentType?.Name ?? string.Empty)">
                        <govuk-input-label is-page-heading="false" class="govuk-label--m">Name</govuk-input-label>
                    </govuk-input>

                    <govuk-input name="DisplayNameMidSentenceCase" value="@(Model.AssessmentType?.DisplayNameMidSentenceCase ?? string.Empty)">
                        <govuk-input-label is-page-heading="false" class="govuk-label--m">Display Name (mid-sentence case)</govuk-input-label>
                    </govuk-input>

                    <govuk-input name="SortOrder" value="@(Model.AssessmentType?.SortOrder ?? null)">
                        <govuk-input-label is-page-heading="false" class="govuk-label--m">Sort Order</govuk-input-label>
                    </govuk-input>

                    <div class="govuk-button-group">
                        <govuk-button type="submit">Create</govuk-button>
                        <govuk-button-link asp-page="/Admin/AssessmentTypes/List">Cancel</govuk-button-link>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
