@import "node_modules/govuk-frontend/govuk/all";
@import "node_modules/dfe-frontend-alpha/packages/dfefrontend";

.govuk-width-container {
  max-width: 1200px;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
div,
table,
th,
td,
blockquote,
li,
dt,
dd,
tr {
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, "Helvetica Neue", sans-serif !important;
}

$govuk-global-styles: true;

.dfe-app-layout {
  .dfe-app-layout--header {
    background: #003a69;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px 10px 25px;
    border-bottom: 1px solid #3b404a;

    .dfe-app-layout--header-logo img {
      max-height: 60px;
      height: auto;
    }

    .dfe-app-layout--header-service {
      color: #ffffff;
      font-size: 19px;
      font-weight: 600;
    }

    .dfe-app-layout--header-username {
      text-align: right;
      color: #ffffff;
      font-size: 19px;
      font-weight: 600;
    }

    .left-content {
      display: flex;
      align-items: center;
    }

    .right-content {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }

  .container {
    display: flex;
  }

  .sidebar {
    background-color: #252b36;
    width: 255px;
    padding: 40px 0px 0 0px;
    border-right: 8px solid $color_dfe-secondary-blue;
    position: relative;

    .sidebar-title {
      font-weight: 600;
      font-size: 19px;
      color: #fff;
      margin-bottom: 20px;
      padding-left: 20px;
    }

    ul.sidebar-nav {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-bottom: 30px;

      > li {
        list-style: none;
        margin: 0;

        > a {
          margin: 0 0px 0 20px;

          padding: 15px;
          padding-left: 20px;
          display: block;
          color: #fff;
          text-decoration: none;
          font-weight: 600;
          font-size: 16px;

          &:hover {
            outline: none;
            background: #3b404a;
            border-left: 5px solid $color_dfe-secondary-blue;
            padding-left: 15px;
          }

          &:focus {
            outline: none;
            background: #3b404a;
            border-left: 5px solid $color_dfe-secondary-blue;
            padding-left: 15px;
          }

          &:focus-within {
            outline: none;
            background: #3b404a;
            border-left: 5px solid $color_dfe-secondary-blue;
            padding-left: 15px;
          }

          &.active {
            outline: none;
            background: $color_dfe-secondary-blue;
            border-left: 5px solid $color_dfe-secondary-blue;
            padding-left: 15px;
          }
        }
      }
    }
  }

  .flex-bar {
    display: flex;
    justify-content: space-between;
  }

  .govuk-panel__body {
    @include govuk-typography-responsive(24);
  }

  .main {
    flex-grow: 1;
    max-width: 87%;

    .main--masthead {
      padding-top: 13px;
      min-height: 52px;
      background: #f1f2f3;
      border-bottom: 1px solid #b1b4b6;

      h1 {
        margin-bottom: 0px;
        color: $govuk-secondary-text-colour;
        @include govuk-typography-responsive(24);
        padding-top: 5px;
      }

      .govuk-breadcrumbs {
        margin: 0px;
        margin-top: 10px;
      }
    }

    .pre--content {
      padding: 0px 0px;
      background: #d9d9d9;
    }

    .main--content {
      padding: 40px 0px;
      background: #fff;
    }

    .main--inside-container {
      width: 90%;
      margin: 0 auto;
    }

    .toggle-icon {
      font-style: normal;
      font-weight: 600;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      display: inline-block;
      vertical-align: 2px;
      width: 32px;
      height: 32px;
      border: none;
      font-size: 22px;
      margin-right: 20px;
      background-color: $color_dfe-grey-3;

      &:hover {
        cursor: pointer;
      }
    }

    .expanding-content {
      border-left: 5px solid $color_dfe-grey-3;
      padding: 20px 20px 5px 60px;
    }
  }
}

.review-date {
  padding: 3px 8px 3px 8px;
  font-weight: 600;
  margin-right: 15px;
}

.dfe-timeline {
  padding: calc(2 * 5px);
}

.dfe-timeline .action_needed {
  border: 5px solid #354973;
  padding: 5px 20px 5px 15px;
  box-shadow: none;
  margin-bottom: 30px;
  display: block;
  background: #fff;
}

.dfe-timeline .action_needed h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dfe-timeline .action_needed:before {
  display: block;
  width: calc(2 * 10px);
  height: calc(2 * 10px);
  border-radius: 50%;
  background-color: #ffffff;
  border: 4px solid #354973;
  position: absolute;
  z-index: 2;
  left: -37px;
  top: 2px;
}

.dfe-timeline ol {
  list-style-type: none;
  position: relative;
  padding: 0 0 0 10px;
  margin: 0 0 20px 0;
}

.dfe-timeline ol:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -4.5px;
  bottom: 0;
  border-left: 4px solid #b1b4b6;
  height: 102%;
}

.dfe-timeline ol > li {
  margin: 4px 0 20px 10px;
  padding-left: 15px;
  position: relative;
  display: block;
  border-bottom: 1px solid #dee0e2;

  p {
    font-size: 16px;
    margin-bottom: 15px;
  }

  h3 {
    color: $govuk-secondary-text-colour;
    margin-bottom: 5px;
  }
}

.dfe-timeline ol > li:last-child {
  margin-bottom: 0px;
  border-bottom: 0px;
}

.dfe-timeline ol > li .dfe-timeline-reference {
  display: table;
  position: relative;
}

.dfe-timeline ol > li .dfe-timeline-reference:before {
  content: "";
  position: absolute;
  left: -20px;
  width: 20px;
  top: 9px;
  z-index: -1;
}

.dfe-timeline ol > li:before {
  content: "";
  display: block;
  width: calc(2 * 10px);
  height: calc(2 * 10px);
  border-radius: 50%;
  background-color: #ffffff;
  border: 4px solid #b1b4b6;
  position: absolute;
  z-index: 2;
  left: -37px;
  top: 2px;
}

.dfe-timeline ol > li.current:before {
  content: "";

  border-color: $color_dfe-blue;
  background-color: $color_dfe-secondary-blue;

  h3 {
    color: $color_dfe-black;
  }
}

.dfe-timeline ol > li.done:before {
  content: "";

  border-color: #00381e;
  background-color: $govuk-success-colour;

  h3 {
    color: $color_dfe-black;
  }
}

.dfe-timeline ol > li.current {
  h3 {
    color: $color_dfe-black;
  }
}

.dfe-timeline ol ul li a {
  text-decoration: underline;
}

.dfe-timeline-details {
  margin: 10px 0;
}

.dfe-timeline-details summary {
  font-size: 0.9em;
}

.dfe-timeline-details span {
  display: block;
  font-size: 0.8em;
  padding-bottom: 5px;
  padding-left: 10px;
  border-left: 4px solid #005ea5;
}

.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .app-task-list {
    min-width: 550px;
  }
}

.app-task-list__section {
  display: table;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
}

@media print {
  .app-task-list__section {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__section {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media print {
  .app-task-list__section {
    font-size: 18pt;
    line-height: 1.15;
  }
}

.app-task-list__section-number {
  display: table-cell;
}

@media (min-width: 40.0625em) {
  .app-task-list__section-number {
    min-width: 30px;
    padding-right: 0;
  }
}

.app-task-list__items {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 40px;
  list-style: none;
  padding-left: 0;
}

@media print {
  .app-task-list__items {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}

@media print {
  .app-task-list__items {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    margin-bottom: 60px;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    padding-left: 00px;
  }
}

.app-task-list__item {
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: 0 !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-task-list__item:after {
  content: "";
  display: block;
  clear: both;
}

.app-task-list__item:first-child {
  border-top: 1px solid #b1b4b6;
}

.app-task-list__task-name {
  display: block;
}

@media (min-width: 28.125em) {
  .app-task-list__task-name {
    float: left;
  }
}

.app-task-list__tag,
.app-task-list__task-completed {
  margin-top: 10px;
  margin-bottom: 5px;
}

@media (min-width: 28.125em) {
  .app-task-list__tag,
  .app-task-list__task-completed {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.govuk-tag--grey--darker {
  background: #3b404a;
  color: #fff;
}

.tag-width {
  display: block;
  width: 50%;
  text-align: center;
}

.card {
  padding: 15px;
  border: 1px solid $color_dfe-grey-2;
}

.chevron-card {
  border-top: 1px solid #b1b4b6;
  margin: 0 0 15px 0;
  padding: 5px 0 20px 0;
}

.chevron-card__wrapper {
  padding: 10px 30px 10px 0;
  position: relative;
}

.chevron-card__description {
  margin: 0 -30px 0 0;
}

.chevron-card__link:after {
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.chevron-card__link:before {
  border-right: 3px solid #1d70b8;
  border-top: 3px solid #1d70b8;
  content: "";
  display: block;
  height: 7px;
  position: absolute;
  right: 5px;
  top: 15px;
  -webkit-transform: translateY(0) rotate(45deg) scale(1);
  -ms-transform: translateY(0) rotate(45deg) scale(1);
  transform: translateY(0) rotate(45deg) scale(1);
  width: 7px;
}

.chevron-card__link:hover:before {
  border-color: #003078;
}

.chevron-card__link:focus:before {
  border-color: #0b0c0c;
}

.toggleDropdown {
  cursor: pointer;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 19px;
  font-weight: 600;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  /* Prevent line breaks in menu items */
  right: 30px;
  /* Set the right margin to 30px */
  z-index: 1;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 10px;
}

.dropdown li:hover {
  background-color: #f9f9f9;
}

.dropdown a {
  text-decoration: none;
  color: #333;
}

.dropdown[aria-hidden="false"] {
  display: block;
}

.text-smaller {
  * {
    font-size: 16px !important;
  }
}

.chevron-card-full {
  margin-bottom: 5px;
  padding-bottom: 0px;
}

.govuk-tag--yellow {
  background-color: #ffdd00;
  color: $color_dfe-black;
}

.govuk-tag--amber {
  background-color: #f47738;
  color: $color_dfe-black;
}

.govuk-tag--green {
  background-color: #00703c;
  color: $color_dfe-white;
}

.govuk-tag--grey {
  background-color: #b1b4b6;
  color: $color_dfe-black;
}

.govuk-tag--red {
  background-color: #d4351c;
  color: $color_dfe-white;
}

.govuk-summary-card__content p:last-of-type {
  margin-bottom: 0px;
}

$govuk-global-styles: true;

.govuk-panel > * {
  text-align: left;
}

.app-task-list__item {
  .app-task-list__task-name {
    width: 30%;
    display: inline-block;
  }

  .app-task-list__task-value {
    display: inline-block;
    width: 49%;
  }

  .app-task-list__task-tag {
    display: inline-block;
    width: 20%;
  }
}

.dfeuk-document-list {
  padding: 0px;

  .dfeuk-document-list__item {
    margin-bottom: 25px;
    padding-top: 10px;
    border-top: 1px solid #b1b4b6;
    list-style: none;

    .dfeuk-document-list--no-underline {
      @include govuk-typography-responsive(19);
    }

    .dfeuk-document-list__item-title {
      text-decoration: none !important;
      font-weight: 700;
    }

    .dfeuk-document-list__item-description {
      @include govuk-typography-responsive(16);
      margin: 5px 0px;
    }

    .dfeuk-document-list__item-metadata {
      padding: 0;

      .gdfeuk-document-list__attribute {
        font-weight: 400;
        font-size: 14px;
        @include govuk-typography-responsive(14);
        color: #505a5f;
        display: inline-block;
        list-style: none;
        padding-right: 20px;
      }
    }
  }
}

/// CARDS
///

.dfe-grid-container {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}

@include govuk-media-query($from: tablet) {
  .dfe-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;

    &.dfe-grid-container--wider {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
  }
}

// ==========================================================================
// SETTINGS / #COLOURS
// ==========================================================================

//
// DfE colour palette
//
// Colours are prefixed with color_ to make them easier to
// search for within the code base.
//
// We also prefix them with dfe- to prevent clashing with
// other colours in existing code bases.
//
// We use the word color, not colour, for variables.
//

/* stylelint-disable color-no-hex */

.dfe-card {
  position: relative;
  background-color: #f3f2f1;
  border-bottom: 3px solid $color_dfe-blue;
  max-width: 400px;

  &.dfe-card--blog-card {
    border-radius: 12px 12px 0 0;

    img {
      border-radius: 12px 12px 0 0;
    }
  }

  &.dfe-card--red {
    background-color: tint($color_dfe-red, 90%);
    border-bottom: 3px solid $color_dfe-red;
  }

  &.dfe-card--green {
    background-color: tint($color_dfe-green, 90%);
    border-bottom: 3px solid $color_dfe-green;
  }

  &.dfe-card--amber {
    background-color: tint(govuk-colour("orange"), 90%);
    border-bottom: 3px solid govuk-colour("orange");
  }
}

@include govuk-media-query($until: tablet) {
  .dfe-card {
    max-width: 100%;
  }
}

.dfe-card > picture,
.dfe-card > picture > img {
  max-width: 100%;
}

.dfe-card-container {
  padding: 20px;
}

.dfe-card:hover,
.dfe-card:focus-within {
  background-color: $color_dfe-blue;
}

.dfe-card:hover a,
.dfe-card:focus-within a,
.dfe-card:hover p,
.dfe-card:focus-within p {
  color: $color_dfe-white;
}

.dfe-card:focus-within {
  outline: 3px solid $color_dfe-yellow;
}

.dfe-card-container .dfe-card-link--retake:focus,
.dfe-card-container .dfe-card-link--header:focus {
  color: $color_dfe-black;
}

.dfe-card-link--retake {
  position: relative;
  z-index: 2;
}

.dfe-card-link--header {
  text-decoration: none;
  color: $color_dfe-secondary-blue;
}

.dfe-card-link--header:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.govuk-notification-banner__content > * {
  box-sizing: border-box;
  max-width: 80%;
}

.main--content {
  background: #f1f1f1;
}

.govuk-summary-card__title-wrapper {
  background-color: #d9d9d9;
}

.govuk-summary-card__content {
  background-color: #ffffff;
}

.dfe-link--nounderline {
  text-decoration: none !important;
}

.outcomes-centred {
  text-align: center;
}

.outcomes .govuk-tag {
  min-width: 20px;
  text-align: center;
}
