@model IncompleteBookingRequest;

@{
    ViewData["Title"] = "Index";
}

<div class="main--content">

    <div class="main--inside-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form asp-controller="BookingRequest" asp-action="DeliveryManagerSubmit" asp-route-id="@Model.RequestId">

                    <govuk-radios name="team_has_delivery_manager" id-prefix="team_has_delivery_manager">
                        <govuk-radios-fieldset>
                            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                                Does the team have a delivery manager?
                            </govuk-radios-fieldset-legend>

                            <govuk-radios-hint>
                                Select one option.
                            </govuk-radios-hint>

                            <govuk-radios-item value="yes">
                                Yes
                                <govuk-radios-item-conditional>
                                    <govuk-input name="product_owner_manager-name">
                                        <govuk-input-label>
                                            Name of delivery manager
                                        </govuk-input-label>
                                    </govuk-input>
                                </govuk-radios-item-conditional>
                            </govuk-radios-item>

                            <govuk-radios-item value="no">
                                No
                            </govuk-radios-item>

                        </govuk-radios-fieldset>
                    </govuk-radios>

                    <div class="govuk-button-group">
                        <govuk-button type="submit">Save and continue</govuk-button>
                        @Html.ActionLink("Skip and return to later", "Tasks", "BookingRequest", new {id = Model.RequestId}, new {@class = "govuk-link"})
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
