@{
    ViewData["Title"] = "Index";
}

<div class="main--content">

    <div class="main--inside-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l ">Book a discovery peer review</h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <p>You can use this service to:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>book an end of discovery peer review, do this at least 5 weeks in advance</li>
                    <li>update the project details, for example, the name of a discovery</li>
                    <li>read reports of all DfE discovery peer reviews</li>
                    <li>provide input to reports as an assessor</li>
                </ul>

                <h2 class="govuk-heading-m">Start a request</h2>

                <p>If you want to, you can check the <a href="/generic/assessments">assessments section</a> to see if a request has already been submitted for your discovery.</p>

                <p>You can book a discovery peer review for your own project or on behalf of a team.</p>

                @* <govuk-button-link is-start-button="true" asp-controller="Home" asp-action="Confirm"> *@
                <govuk-button-link is-start-button="true" href="/book/request/name-of-discovery">
                    Start now
                </govuk-button-link>

                @* <govuk-summary-card>
                    <govuk-summary-card-title>Continue with a draft</govuk-summary-card-title>
                    <govuk-summary-list>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                <a href="/book/draft/recSWTLYkqQNCdXLh">app</a>
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                <ul class="govuk-list govuk-list">
                                    <li>Phase: Discovery</li>
                                    <li>Started: 12 Oct 2023</li>
                                    <li>Last updated: 12 Oct 2023</li>
                                </ul>
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                <a href="/book/draft/recYXytdddLcPWuuw">Online Careers Journey</a>
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                <ul class="govuk-list govuk-list">
                                    <li>Phase: Discovery</li>
                                    <li>Started: 12 Oct 2023</li>
                                    <li>Last updated: 12 Oct 2023</li>
                                </ul>
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                <a href="/book/draft/rec1DZN2xuTgYRSS3">Mickey mouse discovery</a>
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                <ul class="govuk-list govuk-list">
                                    <li>Phase: Discovery</li>
                                    <li>Started: 12 Oct 2023</li>
                                    <li>Last updated: 12 Oct 2023</li>
                                </ul>
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>
                                <a href="/book/draft/recLMhT3rV7sm9Hgy">Service assessment plus - redesign</a>
                            </govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>
                                <ul class="govuk-list govuk-list">
                                    <li>Phase: Discovery</li>
                                    <li>Started: 25 Oct 2023</li>
                                    <li>Last updated: 26 Oct 2023</li>
                                </ul>
                            </govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                    </govuk-summary-list>
                </govuk-summary-card> *@


                @* 
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 id="continue_with_a_draft_heading" class="govuk-summary-card__title">Continue with a draft</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <table class="dfeuk-table dfeuk-table-responsive dfeuk-table--smaller" aria-describedby="continue_with_a_draft_heading">
                            <thead class="dfeuk-table__head">
                                <tr class="dfeuk-table__row">
                                    <th scope="col" class="dfeuk-table__header govuk-!-width-one-third">Service</th>
                                    <th scope="col" class="dfeuk-table__header">Phase</th>
                                    <th scope="col" class="dfeuk-table__header">Started</th>
                                    <th scope="col" class="dfeuk-table__header">Last updated</th>
                                </tr>
                            </thead>
                            <tbody class="dfeuk-table__body">

                                <tr class="dfeuk-table__row">
                                    <th scope="row" class="dfeuk-table__header">
                                        <a href="/book/draft/recSWTLYkqQNCdXLh">app</a>
                                    </th>
                                    <td class="dfeuk-table__cell">Discovery</td>
                                    <td class="dfeuk-table__cell">12 Oct 2023</td>
                                    <td class="dfeuk-table__cell">12 Oct 2023</td>
                                </tr>

                                <tr class="dfeuk-table__row">
                                    <th scope="row" class="dfeuk-table__header">
                                        <a href="/book/draft/recYXytdddLcPWuuw">Online Careers Journey</a>
                                    </th>
                                    <td class="dfeuk-table__cell">Discovery</td>
                                    <td class="dfeuk-table__cell">12 Oct 2023</td>
                                    <td class="dfeuk-table__cell">12 Oct 2023</td>
                                </tr>

                                <tr class="dfeuk-table__row">
                                    <th scope="row" class="dfeuk-table__header">
                                        <a href="/book/draft/rec1DZN2xuTgYRSS3">Mickey mouse discovery</a>
                                    </th>
                                    <td class="dfeuk-table__cell">Discovery</td>
                                    <td class="dfeuk-table__cell">12 Oct 2023</td>
                                    <td class="dfeuk-table__cell">12 Oct 2023</td>
                                </tr>

                                <tr class="dfeuk-table__row">
                                    <th scope="row" class="dfeuk-table__header">
                                        <a href="/book/draft/recLMhT3rV7sm9Hgy">Service assessment plus - redesign</a>
                                    </th>
                                    <td class="dfeuk-table__cell">Discovery</td>
                                    <td class="dfeuk-table__cell">25 Oct 2023</td>
                                    <td class="dfeuk-table__cell">26 Oct 2023</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div> *@


                <h2 class="govuk-heading-l">Before you start</h2>
                <p>Read the <a href="https://dfe-standards-manual-prototype.herokuapp.com/service-assurance/" target="_blank" rel="noopener"> step by step guidance</a> to help you understand what a discovery peer review is, how to prepare and what to expect.</p>
                <h3 class="govuk-heading-s">If you need help using the service</h3>
                <p>Contact the <a href="/">service assessment team</a>.</p>

            </div>

            <div class="govuk-grid-column-one-third">
                <aside class="govuk-related-navigation">
                    <h2 class="govuk-heading-m">Other resources and guidance</h2>
                    <ul class="govuk-list govuk-list--spaced">
                        <li>
                            <a href="https://apply-the-service-standard.education.gov.uk/" target="_blank" rel="noopener">Apply the Service Standard in DfE</a>
                        </li>
                        <li>
                            <a href="https://design.education.gov.uk/" target="_blank" rel="noopener">Design Manual</a>
                        </li>
                        <li>
                            <a href="https://user-research.education.gov.uk/" target="_blank" rel="noopener">User Research in DfE</a>
                        </li>
                        <li>
                            <a href="https://technical-guidance.education.gov.uk/" target="_blank" rel="noopener">DfE Technical Guidance</a>
                        </li>
                        <li>
                            <a href="https://dfe-digital.github.io/architecture/#dfe-architecture" target="_blank" rel="noopener">DfE Architecture</a>
                        </li>
                        <li>
                            <a href="https://design-system.service.gov.uk/" target="_blank" rel="noopener">GOV.UK Design System</a>
                        </li>
                        <li>
                            <a href="https://www.gov.uk/service-manual" target="_blank" rel="noopener">GOV.UK Service Manual</a>
                        </li>
                        <li>
                            <a href="https://www.gov.uk/service-manual/communities/design-community" target="_blank" rel="noopener">Cross government design community</a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</div>
