@page
@model ServiceAssessmentService.WebApp.Pages.Public.CookiePolicyModel
@{
    ViewData["Title"] = "Cookie policy";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's cookie policy.</p>
