@using GovUk.Frontend.AspNetCore.TagHelpers

<ul class="dfe-header__action-links">
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item">
            <span class="govuk-link govuk-link--inverse">Hello @User.Identity.Name!</span>
        </li>
        <li class="nav-item">
            <a class="govuk-link govuk-link--inverse" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="govuk-link govuk-link--inverse" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
        </li>
    }
</ul>
